.Rproj.user
*.md
*figure*
*.pdf
#*.html
*.Rproj
.Rhistory
.gitignore
Exercises/Exerciseset1/twentydays.csv
Exercises/Exerciseset1/DataSet1.Rdata
CourseSessions/Sessions45/my_segments.csv
CourseSessions/Sessions23/my_segments.csv
CourseSessions/Sessions23/my_segmentation_profiles.csv
CourseSessions/Sessions45/my_segmentation_profiles.csv
SOLUTIONS/*
CourseSessions/*/doc/*.md
CourseSessions/*/doc/*.pdf
CourseSessions/*/doc/*.cache
CourseSessions/*/doc/*figure*
CourseSessions/tmp
Exercises/*/*.md
Exercises/*/*.pdf
Exercises/*/figure
*.csv